{% extends 'base.html' %}

{%block navbar%}
    <nav class="navbar navbar-dark bg-dark">
        <div class="container-fluid">
        <a class="navbar-brand">GetAPrice</a>
        <form class="d-flex" role="search">
            <input class="form-control me-2" name="q" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-light" type="submit">Search</button>
        </form>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
            <a class="nav-link active" aria-current="page" href={% url 'home' %}>Home</a>
            <a class="nav-link" href={% url 'about' %}>About Us</a>
            </div>
        </div>
        </div>
    </nav>
{%endblock navbar%}


{%block content%}
    <div class = "row">
        {%for item in product%}
            <div class="col-lg-4">
                <img class="thumbnail" src="{{item.imagelink}}">
                <div class="box-element product text-center">
                    <h6><strong>{{item.name}}</strong></h6>
                    <hr>
                    <a class="btn btn-dark" href="/products/{{item.id}}">Track Price</a>
                </div>
            </div>
        {%endfor%}
    </div>
{%endblock content%}